<div class="row">
  <% @rescuer_members.each do|rescuer_member| %>
    <div class="col-md-4">
      <div id  = 'card'>
        <%= image_tag '/images/Sample.image.jpg', alt: 'Sample_image' %>

        <div class = 'card_content'>
          <div class = 'card_title'>
            <%= rescuer_member.rescue_station %>
          </div>
          <div class = 'description'>
            <%= rescuer_member.comment %>
          </div>
          <div class = 'card_button'>
            詳細
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>