<div id  = 'card'>
  <div class = 'card_img'>
    <%= image_tag '/images/sample_image.jpg', alt: 'Sample_image' %>
  </div>

  <div class = 'card_module.hover'>
    <div class = 'card_content'>
      <div class = 'card_title'>
        title City Lights in New Yorkv
      </div>
      <div class = 'description'>
        New York, the largest city in the U.S., is an architectural marvel with plenty of historic monuments, magnificent
      </div>
      <div class = 'card_button'>
        詳細
      </div>
    </div>
  </div>
</div>