<% provide(:title, "Edit") %>

<div id = 'signup-edit-generic-form'>
  <div class = 'signup-edit'>
    <% @title = 'Edit menu' %>
    <h1><%= @title %></h1>
  </div>
  
    <%= render 'form' %>
  
</div>