<% @page_title = 'signup' %>

<div class="text-center">
  <div class="row">
    <div id = 'signup-generic-form'>
      <div class = 'signup'>
        <h1>支援者 Signup</h1>
      </div>
  
      <%= render 'form' %>
    </div>
  </div>
</div>