/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 
 @charset "utf-8";
 $moderate: 6px;
 $wide: 10px;
 $standard_line_height: 16px;


  /* body */

 html, body {
  padding: 0;
  height: 100%;
 }
  
 div#wrapper {
  position: relative;
  box-sizing: border-box;
  min-height: 100%;
  padding-bottom: ($wide + $moderate) * 2 + $standard_line_height;
  background-color: #fff2e5;
 }


  /* header */

  .navbar {
  background-color: #ffffff;
  max-height: 60px;
  margin: auto;
  padding: 2px 5px;
  position: relative;
  box-shadow: none;

  span.notice, span.alert {
    position: absolute;
    text-align: center;
    display: inline-block;
    padding: 10px 6px;
    margin: 7px 0 0 370px;
    font-family: 'MingLiU', monospace;
    font-size: 13px;
    font-weight: bold;
    border-radius: 20px;
    color: seashell;
  }

  span.notice {
    background-color: #66cdaa;
  }

  span.alert {
    background-color: #f08080;
  }

  a {
    font-family: 'MingLiU', monospace;
    font-weight: bold;
    font-size: 16px;
    color: #696969;
    margin-top: 5px;
  }
 }

  .navbar-header{
    img {
      width: 70%;
      max-width:350px;
      position: absolute;
      margin-top: auto;
    }
    button {
      margin: 7px;
    }
  }

  /* footer */

  footer {
    bottom: 0;
    position: absolute;
    width: 100%;
    font-size: 15px;
    font-family: 'MingLiU', monospace;
    color: #696969;

    p {
      text-align: center;
      padding: $moderate;
      margin: 0;
    }
  }


  /* cover */
  .cover{

    .background_photo {
      width: 100%;
      padding: 15px 10px;
    }

    /* レスポンシブ設定 */
    .pc { display: block !important; }
    .sp { display: none !important; }

    @media only screen and (max-width: 770px) {
      .pc { display: none !important; }
      .sp {
        display: block !important;

        .sp_btn_supporter {
          display: inline-block;
          margin: 35px 15px 0;
          padding: 14px;
          color: #fff;
          font-family: 'MingLiU', monospace;
          font-size: 18px;
          letter-spacing: 0.15em;
          border-radius: 320px;
          line-height: 30px;
          box-shadow: 0px 4px 0 rgba(5, 129, 88, 0.7);
          transition: 0.2s all ease 0s;
  
          &:hover{
            background-color: #FC6E51;
            box-shadow: none;
            transform: translate3d(0, 3px, 0);
          }
        }
  
        .sp_btn_rescuer {
          display: inline-block;
          margin: 35px 15px 0;
          padding: 14px;
          color: #fff;
          font-family: 'MingLiU', monospace;
          font-size: 18px;
          letter-spacing: 0.15em;
          border-radius: 320px;
          line-height: 30px;
          box-shadow: 0px 4px 0 rgba(5, 129, 88, 0.7);
          transition: 0.2s all ease 0s;
        
          &:hover{
            background-color: #FC6E51;
            box-shadow: none;
            transform: translate3d(0, 3px, 0);
          }
        }
      }
    }

    .btn_supporter {
      display: inline-block;
      margin: 35px 15px 0;
      padding: 18px;
      color: #fff;
      font-family: 'MingLiU', monospace;
      font-size: 18px;
      letter-spacing: 0.15em;
      border-radius: 320px;
      line-height: 30px;
      box-shadow: 0px 4px 0 rgba(5, 129, 88, 0.7);
      transition: 0.2s all ease 0s;
  
      &:hover{
        background-color: #FC6E51;
        box-shadow: none;
        transform: translate3d(0, 3px, 0);
      }
    }
  
    .btn_rescuer {
      display: inline-block;
      margin: 35px 15px 0;
      padding: 18px;
      color: #fff;
      font-family: 'MingLiU', monospace;
      font-size: 18px;
      letter-spacing: 0.15em;
      border-radius: 320px;
      line-height: 30px;
      box-shadow: 0px 4px 0 rgba(5, 129, 88, 0.7);
      transition: 0.2s all ease 0s;
      
      &:hover{
        background-color: #FC6E51;
        box-shadow: none;
        transform: translate3d(0, 3px, 0);
      }
    }
  }